* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background: linear-gradient(120deg, #151615, #4a6e80);
    background-image: url('/img/backgroung_geral.gif');
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

header nav {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(243, 240, 240, 0.731);
}

header nav h1 {
    color: #97bce1;
    font-size: 2.5rem;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
    width: 90%;
    max-width: 1200px;
}

.card {
    perspective: 1000px; /* Define a profundidade para o efeito 3D */
    width: 150px;
    margin: 20px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 300px;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 6px 15px rgba(240, 233, 233, 0.1);
    border-radius: 10px;
}

.card.flip .card-inner {
    transform: rotateY(180deg);
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
}

.card-front {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.card-back {
    background-color: #494848;
    color: #97bce1;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

h3 {
    font-size: 1.3rem;
}

.card-image {
    height: 200px;
}

#aries {
    background-image: url("img/aries.png");
}

#touro {
    background-image: url("img/touro.png");
}

#gemeos {
    background-image: url("img/gemeos.png");
}

#cancer {
    background-image: url("img/cancer.png");
}

/* Continue adicionando os outros signos, seguindo o mesmo padrão */

#leao {
    background-image: url("img/leao.png");
}

#virgem {
    background-image: url("img/virgem.png");
}

#libra {
    background-image: url("img/libra.png");
}

#escorpiao {
    background-image: url("img/escorpiao.png");
}

#sagitario {
    background-image: url("img/sargitario.PNG");
}

#capricornio {
    background-image: url("img/capricornio.png");
}

#aquario {
    background-image: url("img/aquario.png");
}

#peixes {
    background-image: url("img/peixes.png");
}
