* {
    padding: 0;
    margin: 0;
    font-family: roboto;
    background-image: url("img/backgroung_geral.gif");
}

h1,
h3,
p {
    text-align: center;
    color: bisque;
    font-family: roboto;
}

h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.card {

    display: inline-block;
    width: 20%;
    margin: 25px;
    padding-right: 35px;
}

.card-image {
    height: 200px;
    background-size: cover;
}

.btn {
    display: block;
    background-color: #4A87E8;
    color: bisque;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px;
    border: 2px solid transparent;
    font-weight: bold;
    transition: 5s;
    border-radius: 5px;
}

.btn.houver {
    background-color: #070404;
    color: #4A87E8;
    border-color: #e1e7e9;
}

#aries {

    background-image: url("img/aries.png");
    width: 270px;
    border-radius: 300px
}

#touro {
    background-image: url("img/touro.png");
    width: 270px;
    border-radius: 300px
}

#gemeos {
    background-image: url("img/gemeos.png");
    width: 270px;
    border-radius: 300px
}

#cancer {
    background-image: url("img/cancer.png");
    width: 270px;
    border-radius: 300px
}

#leao {
    background-image: url("img/leao.png");
    width: 270px;
    border-radius: 300px
}

#virgem {
    background-image: url("img/virgem.png");
    width: 270px;
    border-radius: 300px
}

#libra {
    background-image: url("img/libra.png");
    width: 270px;
    border-radius: 300px
}

#escorpiao {
    background-image: url("img/escorpiao.png");
    width: 270px;
    border-radius: 300px
}

#sagitario {
    background-image: url("img/sargitario.png");
    width: 270px;
    border-radius: 300px
}

#capricornio {
    background-image: url("img/capricornio.png");
    width: 270px;
    border-radius: 300px
}

#aquario {
    background-image: url("img/aquario.png");
    width: 270px;
    border-radius: 300px
}

#peixes {
    background-image: url("img/peixes.png");
    width: 270px;
    border-radius: 300px;
}
